marshmallow
sqlalchemy
shapely
certifi==2020.6.20
click==7.1.2
Flask==1.1.2
GeoAlchemy2==0.8.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
marshmallow @ file:///tmp/build/80754af9/marshmallow_1600443981575/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy @ file:///opt/concourse/worker/volumes/live/a1b5ea96-b05c-40ba-5dfb-4542ece1c186/volume/numpy_and_numpy_base_1603491228242/work
Shapely @ file:///opt/concourse/worker/volumes/live/90b213a3-40f8-45c1-480b-3008028b4f18/volume/shapely_1599817167930/work
six==1.15.0
SQLAlchemy @ file:///opt/concourse/worker/volumes/live/61b6a8b3-de0b-4a7e-7bf4-824014d54197/volume/sqlalchemy_1603816092551/work
Werkzeug==1.0.1
